:root
{
    --darkest-color: #000000;
    --second-darkest: #444444;
	--third-darkest: #707070;
	--dark-opacity: rgba(112, 112, 112, 0.85);
    --light-grey: #aaaaaa;
    --lighter-grey: #f5f5f5;
    --white: #ffffff;
    --blue: #2699FB;
    --blue-rgb: rgba(38, 153, 251, 0.55)

}
*
{
    padding: 0;
    margin: 0;
    border: 0;
}
body
{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
		margin: 0;
		border: 0;
		line-height: 1.5;
}


.backgrounded-content
{
	background: var(--dark-opacity);
	max-width: 80%;
	margin:auto;
	border-radius: 10%;
	padding: 5em;
	
}
	
	.video-bg
	{
		
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;


	}

@media(max-width:480px)
{
	body
	{
		padding: 0;
		margin: 0;
		border: 0;
		line-height: 1.5;
		
	}
	.siteheader
	{
		width: 100%;
		display: flex;
		align-items: center;
		align-content: center;
		
	}
	.logo
	{
		width: 100%;
		position: relative;
		
	}


	/*starting to code hamburger menu for mobile*/

		.toggler
		{
			display: block;
		}
		.menu-wrap
		{
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
		}
		.menu-wrap .toggler
		{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			cursor: pointer;
			width: 3.12em;
			height: 3.12em;
			opacity: 0;
		}
		.menu-wrap .hamburger
		{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 2em;
			height: 2em;
			padding: 0.5rem;
			background: #2699FB;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		/*hamburger lines*/
		.menu-wrap .hamburger article
		{
			position: relative;
			width: 100%;
			height: 0.125em;
			background-color: #ffff;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.4s ease;
		}
		/* style for top and bottom lines*/
		.menu-wrap .hamburger article::before,
		.menu-wrap .hamburger article::after
		{
			content: '';
			position: absolute;
			z-index: 1;
			top: -0.625em;
			width: 100%;
			height: 0.125em;
			background: inherit;
		}
		/*moves line down*/
		.menu-wrap .hamburger article::after
		{
			top: 0.625em;
		}
		/*animating the toggler*/
		.menu-wrap .toggler:checked + .hamburger article
		{
			transform: rotate(135deg);
		}

		/* turning lines into X */

		.menu-wrap .toggler:checked + .hamburger article::before,
		.menu-wrap .toggler:checked + .hamburger article::after
		{
			top: 0;
			transform: rotate(90deg);
		}
		/* rotating on hover when checked*/

		.menu-wrap .toggler:checked + .hamburger article:hover
		{
			transform: rotate(225deg);
		}

		/*show menu*/

		.menu-wrap .toggler:checked ~ .menu
		{
			visibility: visible;
		}

		.menu-wrap .toggler:checked ~ .menu .fsec
		{
			transform: scale(1);
			transition-duration: 0.75s;
		}

		.menu-wrap .toggler:checked ~ .menu .fsec .secsec
		{
			opacity: 1;
			transition: opacity 0.4s ease;
		}

		.menu-wrap .menu
		{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			visibility: hidden;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.menu-wrap .menu .fsec
		{
			background: rgba(38, 153, 251, 0.75);
			border-radius: 50%;
			width: 200vw;
			height: 200vw;
			display: flex;
			flex: none;
			align-items: center;
			justify-content: center;
			transform: scale(0);
			transition: all 0.4s ease;
		}
		.menu-wrap .menu .secsec
		{
			text-align: center;
			max-width: 90vw;
			max-height: 100vw;
			opacity: 0;
			transition: opacity 0.4s ease;

		}
		.menu-wrap .menu .secsec ul li
		{
			list-style: none;
			color: #ffff;
			font-size: 1.5rem;
			padding: 1rem;
		}

		.menu-wrap .menu .secsec ul li a
		{
			color: inherit;
			text-decoration: none;
			transition: color 0.4s ease;
		}
		
		/* finished with hamburger menu styling*/

		/* starting navbar styling*/

		nav ul li
		{
			list-style: none;
			padding: 0.5em;
			margin-right: 25%;
		}
		nav ul li a
		{
			text-decoration: none;
			color: #ffff;
			color: var(--white);
		}
		nav ul li a:hover
		{
			font-weight: bold;
			transition: 0.4s ease;
			color: var(--darkest-color);
		}

		/* finished styling navbar for mobile*/

		/*starting to style texts*/

		/*global*/
		.wrapper
		{
			max-width: 80%;
			padding: 2;
			margin: 5% 5% 5% 8%;
			display: grid;
			justify-items: center;
		}
		.wrapper img
		{
			max-width: 80%;
			margin: 8% auto 8% 8%;
			border-radius: 5%;
		}
		body h1, h2, h3, h4, h5, h6
		{
			margin: 1em;
		}
		.wrapper p
		{
			display: flex;
			align-items: center;
			align-content: center;
		}
		body ul li
		{
			list-style: none;
		}
		body a
		{
			text-decoration: none;
			color: var(--second-darkest);
		}

		/* finished global*/

		/* styling lists*/

		.cool-lists h1, h2 h3, h4, h5, h6
		{
			margin: 1em;
		}
		
		.cool-lists
		{
			max-width: 80%;
			padding: 2;
			margin: 5% 5% 5% 8%;
			display: grid;
			justify-items: center;
		}
		
		

		/*finished styling body*/

		/*starting contact form*/

		.contact-form
	{
		margin: auto;
		margin-top: 2%;max-width: 85%;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

	}
	.contact-form label
	{
		display: block;
		margin-bottom: 0.7em;

	}
	.contact-form label > span
	{
		float: left;
		width: 0.17;
		color: black;
		
		font-size: 0.8em;
		
	}
	.contact-form fieldset
	{
		border-radius: 1em;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
		margin: 0 0 0.7em 0;
		border: 0.5em solid var(--blue-rgb);
		padding: 1.25em;
		background: var(--light-grey);
		box-shadow: inset 0 0 1em #707070;
		-moz-box-shadow: inset 0 0 1em #9c9595;
		-webkit-box-shadow: inset 0 0 1em #707070;
						
	}
	.contact-form fieldset legend
	{
		color: black;
		border-top: 0.07em solid #2699FB;
		border-left: 0.07em solid #2699FB;
		border-right: 0.07em solid #2699FB;
		border-radius: 0.032em 0.032em 0 0;
		-webkit-border-radius: 0.032em 0.032em 0 0;
		-moz-border-radius: 0.032em 0.032em 0 0;
		background: #aaaaaa;
		padding: 0 0.5em 0.08 0.5em;
		box-shadow: -0 -0.07em 0.033em #f5f5f5;
		-moz-box-shadow:-0 -0.07em 0.033em #f5f5f5;
		-webkit-box-shadow:-0 -0.07em 0.033em #f5f5f5;
		font-weight: normal;
		font-size: 0.85em;
	}
	.contact-form textarea
	{
		width:15.6em;
		height:6.25em;
	}
	.contact-form input[type=text],
	.contact-form input[type=email],
	.contact-form textarea
	{
		border-radius: 0.18;
		-webkit-border-radius: 0.18;
		-moz-border-radius: 0.18;
		border: 0.07em solid #2699fb;
		outline: none;
		color: #2699fb;
		padding: 0.31 0.5em 0.31 0.5em;
		box-shadow: inset 0.07em 0.07em 0.25em #aaaaaa;
		-moz-box-shadow: inset 0.07em 0.07em 0.25em #aaaaaa;
		-webkit-box-shadow: inset 0.07em 0.07em 0.25em #aaaaaa;
		background: rgb(230, 227, 228);
		width:50%;
	}
	.contact-form input[type="submit"],
	.contact-form input[type="button"]
	{
		background: #707070;
		border: 1px solid #444444;
		padding: 5px 1em 5px 1em;
		color: coral;
		box-shadow: inset -1px -1px 3px #707070;
		-moz-box-shadow: inset -1px -1px 3px #707070;
		-webkit-box-shadow: inset -1px -1px 3px #707070;
		border-radius: 3px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;	
		font-weight: bold;
	}
	.required{
		color:red;
		font-weight:normal;
	}
	.name-field
	{
		margin-left: 1.5em;
	}
	.contact
	{
		background: #707070;
		padding: 1em;
		border-bottom: #2699FB 0.5em solid;
	}
	.contact h3
	{
		display: grid;
		justify-self: center;
		max-width: 450%;
		text-align: center;
		margin: 0;
		padding: 0;
		margin: 0 auto 0 auto;
		
	}
	.button_1
	{
		height: 2.2em;
		background: #444444;
		border: 0;
		padding-left: 1.5em;
		padding-right: 1.5em;
		color: #ffff;
		margin-top: 0.5em;
	}

	/* finished styling contact form*/

	#page-footer
	{
		background: #444444;
		padding: 2em;
		color: #ffff;
	}
	#page-footer p
	{
		text-align: center;
	}
	body img
	{
		max-width: 80%;
		display: block;
	}
	.logo
	{
		max-width: 100%;
	}

	.backgrounded-content
{
	background: var(--dark-opacity);
	max-width: 100%;
	margin:auto;
	border-radius: 10%;
	padding: 1em;
	
}

}

/*end of mobile friendly styling*/

/* tablet friendly*/

@media(min-width:481px)
{
	body
	{
		
		font: 1em;
		line-height: 1.5;
		margin: 0;
		padding: 0;
		background-color: #f5f5f5;
		
	}

	/* global*/
	.toggler
	{
		display: none;
	}
	p
	{
		font-size: 1.5em
	}
	h1, h2, h3, h4, h5, h6
	{
		font-size: 2.5em;
	}

	.wrapper
	{
		max-width: 80%;
		padding: 2;
		margin: 5% 5% 5% 8%;
		display: grid;
		justify-items: center;
	}
	.logo
	{
		width: 100%;
		position: relative;
	}
	.wrapper img
	{
		max-width: 80%;
		margin: 8% auto 8% 8%;
		border-radius: 5%;
	}
	.wrapper p
	{
		display: flex;
		align-items: center;
		align-content: center;
	}
	body ul li
	{
		list-style: none;
	}
	body a
	{
		text-decoration: none;
		color: var(--second-darkest);
	}
	nav
	{
		display: inline-block;
		background: var(--second-darkest);
		margin: 0;
		padding: 0;
		border: 0;
		border-top: 0.5em solid var(--blue);
	}
	nav ul
	{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-items: center;
		margin: 0;
		padding: 0;
		border: 0;
		width: 100%;
		height: 50%;
	}
	nav ul li
	{
		list-style: none;
		padding: 0;
		margin: 0;
		border: 0;
		padding: 0.5em 0.5em 0 0.5em;
	}
	nav ul li a
	{
		color: #ffff;
		
	}
	nav ul li:hover
	{
		background: var(--blue);
		font-weight: bold;
		transition: 0.4s ease;
		color: var(--darkest-color);
	}

	nav ul li a:hover
	{
		color: var(--darkest-color);
		transition: 0.4s ease;
	}

	.cool-lists h1, h2 h3, h4, h5, h6
		{
			margin: 1em;
		}
		
		.cool-lists
		{
			max-width: 80%;
			padding: 2;
			margin: 5% 5% 5% 8%;
			display: grid;
			justify-items: center;
		}
		.cool-lists a
		{
			font-size: larger;
		}
		
		
		.sport-bg
		{
			padding: 4.5em;
			background-image: url(../img/img55.png);
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 1em;
			margin-bottom: 2em;
			background-position: center + 8%;
			
		}
		.history p
		{
			margin: 2.5% auto;
		}
		#referalcontent > header
		{
			margin-bottom: 3%;
			display: flex;
			align-content: center;
			align-items: center;
			
		}
		#referalcontent > h3
		{
			display: flex;
			align-content: center;
			align-items: center;
		}
		
		
		


		/*finished styling body*/

		/*starting contact form*/

	.contact-form
	{
		margin: auto;
		margin-top: 2%;
		max-width: 50%;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

	}
	.contact-form label
	{
		display: block;
		margin: auto auto 0.7em auto;
		margin-left: 13%;

	}
	.contact-form label > span
	{
		float: left;
		width: 0.17;
		color: black;
		
		font-size: 0.8em;
		
	}
	.contact-form fieldset
	{
		border-radius: 1em;
		-webkit-border-radius: 1em;
		-moz-border-radius: 1em;
		margin: 0 0 0.7em 0;
		border: 0.5em solid var(--blue-rgb);
		padding: 1.25em;
		background: var(--light-grey);
		box-shadow: inset 0 0 1em #707070;
		-moz-box-shadow: inset 0 0 1em #9c9595;
		-webkit-box-shadow: inset 0 0 1em #707070;
						
	}
	.contact-form fieldset legend
	{
		color: black;
		border-top: 0.07em solid #2699FB;
		border-left: 0.07em solid #2699FB;
		border-right: 0.07em solid #2699FB;
		border-radius: 0.032em 0.032em 0 0;
		-webkit-border-radius: 0.032em 0.032em 0 0;
		-moz-border-radius: 0.032em 0.032em 0 0;
		background: #aaaaaa;
		padding: 0 0.5em 0.08 0.5em;
		box-shadow: -0 -0.07em 0.033em #f5f5f5;
		-moz-box-shadow:-0 -0.07em 0.033em #f5f5f5;
		-webkit-box-shadow:-0 -0.07em 0.033em #f5f5f5;
		font-weight: normal;
		font-size: 0.85em;
	}
	.contact-form textarea
	{
		width:15.6em;
		height:6.25em;
	}
	.contact-form input[type=text],
	.contact-form input[type=email],
	.contact-form textarea
	{
		border-radius: 0.18;
		-webkit-border-radius: 0.18;
		-moz-border-radius: 0.18;
		border: 0.07em solid #2699fb;
		outline: none;
		color: #2699fb;
		padding: 0.31 0.5em 0.31 0.5em;
		box-shadow: inset 0.07em 0.07em 0.25em #aaaaaa;
		-moz-box-shadow: inset 0.07em 0.07em 0.25em #aaaaaa;
		-webkit-box-shadow: inset 0.07em 0.07em 0.25em #aaaaaa;
		background: rgb(230, 227, 228);
		width:50%;
	}
	.contact-form input[type="submit"],
	.contact-form input[type="button"]
	{
		background: #707070;
		border: 1px solid #444444;
		padding: 5px 1em 5px 1em;
		color: coral;
		box-shadow: inset -1px -1px 3px #707070;
		-moz-box-shadow: inset -1px -1px 3px #707070;
		-webkit-box-shadow: inset -1px -1px 3px #707070;
		border-radius: 3px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;	
		font-weight: bold;
	}
	.required{
		color:red;
		font-weight:normal;
	}
	.name-field
	{
		margin-left: 1.5em;
	}
	.contact
	{
		background: var(--light-grey);
		padding: 1em;
		border-bottom: #2699FB 0.5em solid;
	}
	.contact h3
	{
		display: grid;
		justify-self: center;
		max-width: 450%;
		text-align: center;
		margin: 0;
		padding: 0;
		margin: 0 auto 0 auto;
		
	}
	.button_1
	{
		height: 2.2em;
		background: #444444;
		border: 0;
		padding-left: 1.5em;
		padding-right: 1.5em;
		color: #ffff;
		margin-top: 0.5em;
	}

	/* finished styling contact form*/

	#page-footer
	{
		background: #444444;
		padding: 2em;
		color: #ffff;
	}
	#page-footer p
	{
		text-align: center;
	}




}

/* 	finished styling fopr tablet size */

/* STARTING TO STYLE FOR DESKTOP SIZE */


@media(min-width: 1280px)
{
	*
	{
		padding: 0;
		margin: 0;
		border: 0;
	}

	body
	{
		padding: 0;
		margin: 0;
		border: 0;
		line-height: 1.5;
		
		
	}

	.backgrounded-content
	{
		background: var(--dark-opacity);
		max-width: 80%;
		margin:auto;
		border-radius: 10%;
		padding: 5em;
		
	}
	
	.video-bg
	{
		
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;


	}

	.logo
	{
		width: 100%;
	}

	/* styling navbar*/

	nav
	{
		display: inline-block;
		background: #444444;
		border-top: #2699FB 0.5em solid;
		width: 100%;
		
	}
	nav ul li
	{
		padding: 1em;
	}
	nav ul li:hover
	{
		background: var(--blue);
		font-weight: bold;
		transition: 0.4s ease;
		color: var(--darkest-color);
	}
	nav ul li a
	{
		font-size: larger;
	}
	nav ul li a:hover
	{
		color: var(--darkest-color);
		transition: 0.4s ease;
	}

	.wrapper img
	{
		max-width: 80%;
		display: flex;
		align-content: center;
		align-items: center;
		align-self: center;
		border-radius: 5%;
		position: center;
		margin: 5% auto;
	}
	.wrapper
	{
		max-width: 60%;
		padding: 0;
		margin: 5% auto;
		display: grid;
		justify-items: center;
	}

	.wrapper p
	{
		display: flex;
		align-items: center;
		align-content: center;
		margin: auto;
		max-width: 60%;
	}
	.wrapper .big-img
	{
		max-width: 65.5%;
	}
	.img-footer
	{
		max-width: 50%;
		margin-bottom: 5%;
		margin-top: -1em;
	}
	
	/* starting to style hotspots lists*/

	.cool-lists
{
	width: 38%;
	margin-left: 25%;
	background: #aaaaaa;
	padding: 1em;
	border-radius: 1em;
}
.cool-lists h1, h2, h3, h4, h5, h6
{
	font: 400 2.5em/1.5 Helvetica, Verdana, sans-serif;
	margin: 7% auto 7% auto;
	padding: 0;
}
.cool-lists ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.cool-lists li
{
	font: 200 1.25em/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 0.06em solid black;
	
}
.cool-lists li:last-child
{
	border: none;
}
.cool-lists li a
{
	text-decoration: none;
	color: black;
	display: block;
	width: 9em;
	padding-left: 0.5em;
	text-align: left;
	
	


	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
}
.cool-lists li a:hover
{
	font-size: 1.8em;
	background: #2699FB;
}

.cool-lists
{
	width: 38%;
	margin-left: 25%;
	background: #aaaaaa;
	padding: 1em;
	border-radius: 1em;
}
.cool-lists h1, h2, h3, h4, h5, h6
{
	font: 400 2.5em/1.5 Helvetica, Verdana, sans-serif;
	margin: 7% auto 7% auto;
	padding: 0;
}
.cool-lists ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.cool-lists li
{
	font: 200 1.25em/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 0.06em solid black;
	
}
.cool-lists li:last-child
{
	border: none;
}
.cool-lists li a
{
	text-decoration: none;
	color: black;
	display: block;
	width: 9em;
	padding-left: 0.5em;
	text-align: left;
	
	


	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
}
.cool-lists li a:hover
{
	font-size: 1.8em;
	background: #2699FB;
}

.sport-bg
{
	padding: 4.5em;
	background-image: url(../img/img55.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1em;
	margin-bottom: 2em;
	background-position: center + 8%;
}
.history p
{
	max-width: 100%;
	margin: 3% auto;
}


#referalcontent .wrapper
{
	background: var(--light-grey);
	border-radius: 5%;
	
}
#referalcontent header
{
	margin: auto;
}
#referalcontent h3
{
	margin: 8% 3% 3% 3%;
	text-align: center;
	
}
.contact-form
{
	margin: auto;
	margin-top: 2%;
	max-width: 25%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.contact-form label
	{
		display: block;
		margin-bottom: 0.7em;
		margin-left: 13%;

	}




















































}